@model Dish
@{
    ViewData["Title"] = "View Dish";
}

<h2>View Dish</h2>

<p>
    <a asp-controller="Dish" asp-action="Dashboard">Home</a>
    |
    <a asp-controller="Dish" asp-action="NewDish">Add a Dish</a>
</p>

<dl>
    <dt>Chef's Name:</dt>
    <dd>@Model.ChefName</dd>

    <dt>Name of Dish:</dt>
    <dd>@Model.Name</dd>

    <dt>Calories:</dt>
    <dd>@Model.Calories</dd>

    <dt>Tastiness:</dt>
    <dd>@Model.Tastiness</dd>

    <dt>Description:</dt>
    <dd>@Model.Description</dd>
</dl>

<div>
    <a asp-action="EditDish" asp-controller="Dish" asp-route-id="@Model.DishID" class="btn btn-primary">Edit</a>
    <a asp-action="DeleteDish" asp-controller="Dish" asp-route-id="@Model.DishID" class="btn btn-danger">Delete</a>
</div>